# Node build artifacts
frontend/node_modules
frontend/build

# Python caches
**/__pycache__
*.pyc

# Virtual environments
venv
.env

# Git metadata is needed during image build to generate version.json files.
.gitignore

# IDE/editor
.vscode
.idea

# Misc
Dockerfile*
README.md
