.chipText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.availableFieldsText {
  width: 100%;
  display: block;
}

.axisFieldsText {
  width: 100%;
  display: inline-block;
}

.symbol {
  font-weight: bold;
  margin-right: 4px;
}

.discreteSymbol {
  color: var(--df-flavour-discrete-accent);
}

.continuousSymbol {
  color: var(--df-flavour-continuous-accent);
}

/* Specific tooltip styles */
.tooltipContent {
  white-space: nowrap;
  display: block;
}
