.chartArea {
  min-height: 400px;
  display: flex;
  align-items: flex-start; /* Top-left alignment */
  justify-content: flex-start; /* Top-left alignment */
}

.container {
    flex-grow: 1;
    padding: 8px; /* Reduced padding for more chart space */
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #fcfcfc;
    height: 100%;
    box-sizing: border-box;
}
