.container {
  padding: 4px 8px;
  background-color: var(--df-surface-subtle);
  margin-top: 4px;
  border-radius: 4px;
}

.label {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--df-text-control-label);
  display: block;
  margin-bottom: 2px;
}
